In [1]:
import pandas as pd

# Read the dataset
data = pd.read_csv("/Users/blotenko/Downloads/Expanded_data_with_more_features.csv")

# Analyze gender distribution
gender_counts = data["Gender"].value_counts()
gender_percentages = gender_counts / len(data) * 100

# Print results
print("Gender Distribution:")
print(gender_counts)
print("\nGender Percentages:")
print(gender_percentages)

Gender Distribution:
Gender
female    15424
male      15217
Name: count, dtype: int64

Gender Percentages:
Gender
female    50.337783
male      49.662217
Name: count, dtype: float64

In [2]:
print(data.head(10))

   Unnamed: 0  Gender EthnicGroup          ParentEduc     LunchType  \
0           0  female         NaN   bachelor's degree      standard
1           1  female     group C        some college      standard
2           2  female     group B     master's degree      standard
3           3    male     group A  associate's degree  free/reduced
4           4    male     group C        some college      standard
5           5  female     group B  associate's degree      standard
6           6  female     group B        some college      standard
7           7    male     group B        some college  free/reduced
8           8    male     group D         high school  free/reduced
9           9  female     group B         high school  free/reduced

    TestPrep ParentMaritalStatus PracticeSport IsFirstChild  NrSiblings  \
0       none             married     regularly          yes         3.0
1        NaN             married     sometimes          yes         0.0
2       none              single     sometimes          yes         4.0
3       none             married         never           no         1.0
4       none             married     sometimes          yes         0.0
5       none             married     regularly          yes         1.0
6  completed             widowed         never           no         1.0
7       none             married     sometimes          yes         1.0
8  completed              single     sometimes           no         3.0
9       none             married     regularly          yes         NaN

  TransportMeans WklyStudyHours  MathScore  ReadingScore  WritingScore
0     school_bus            < 5         71            71            74
1            NaN         5 - 10         69            90            88
2     school_bus            < 5         87            93            91
3            NaN         5 - 10         45            56            42
4     school_bus         5 - 10         76            78            75
5     school_bus         5 - 10         73            84            79
6        private         5 - 10         85            93            89
7        private           > 10         41            43            39
8        private           > 10         65            64            68
9        private            < 5         37            59            50

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30641 entries, 0 to 30640
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           30641 non-null  int64
 1   Gender               30641 non-null  object
 2   EthnicGroup          28801 non-null  object
 3   ParentEduc           28796 non-null  object
 4   LunchType            30641 non-null  object
 5   TestPrep             28811 non-null  object
 6   ParentMaritalStatus  29451 non-null  object
 7   PracticeSport        30010 non-null  object
 8   IsFirstChild         29737 non-null  object
 9   NrSiblings           29069 non-null  float64
 10  TransportMeans       27507 non-null  object
 11  WklyStudyHours       29686 non-null  object
 12  MathScore            30641 non-null  int64
 13  ReadingScore         30641 non-null  int64
 14  WritingScore         30641 non-null  int64
dtypes: float64(1), int64(4), object(10)
memory usage: 3.5+ MB

In [4]:
df = pd.DataFrame(data)

In [5]:
# Find ethnic group with highest average math score
highest_math_group = df.groupby('EthnicGroup')['MathScore'].mean().idxmax()
highest_math_score = df.groupby('EthnicGroup')['MathScore'].mean().max()

# Find ethnic group with highest average reading score
highest_reading_group = df.groupby('EthnicGroup')['ReadingScore'].mean().idxmax()
highest_reading_score = df.groupby('EthnicGroup')['ReadingScore'].mean().max()

# Find ethnic group with highest average writing score
highest_writing_group = df.groupby('EthnicGroup')['WritingScore'].mean().idxmax()
highest_writing_score = df.groupby('EthnicGroup')['WritingScore'].mean().max()

# Print results
print("4. Яка етнічна група має найвищий середній бал з математики?")
print(f"{highest_math_group} with an average score of {highest_math_score:.2f}")

print("\n5. Яка етнічна група має найвищий середній бал читання?")
print(f"{highest_reading_group} with an average score of {highest_reading_score:.2f}")

print("\n6. Яка етнічна група має найвищий середній бал письма?")
print(f"{highest_writing_group} with an average score of {highest_writing_score:.2f}")

4. Яка етнічна група має найвищий середній бал з математики?
group E with an average score of 75.30

5. Яка етнічна група має найвищий середній бал читання?
group E with an average score of 74.25

6. Яка етнічна група має найвищий середній бал письма?
group E with an average score of 72.68

In [6]:
math_prep_mean = df[df['TestPrep'] == 'completed']['MathScore'].mean()

reading_prep_mean = df[df['TestPrep'] == 'completed']['ReadingScore'].mean()
writing_prep_mean = df[df['TestPrep'] == 'completed']['WritingScore'].mean()

print("Середній бал з математики для студентів, які закінчили курс підготовки до тесту:", math_prep_mean)
print("Середній бал з читання для студентів, які пройшли курс підготовки до тесту:", reading_prep_mean)
print("Середній бал з письма для студентів, які закінчили курс підготовки до тесту:", writing_prep_mean)

Середній бал з математики для студентів, які закінчили курс підготовки до тесту: 69.5466599698644
Середній бал з читання для студентів, які пройшли курс підготовки до тесту: 73.73299849321948
Середній бал з письма для студентів, які закінчили курс підготовки до тесту: 74.70326469111

In [8]:
married_parents_count = df[df['ParentMaritalStatus'] == 'married']['ParentMaritalStatus'].count()

single_parents_count = df[df['ParentMaritalStatus'] == 'single']['ParentMaritalStatus'].count()

print("Кількість студентів з одруженими батьками:", married_parents_count)
print("Кількість студентів з батьками-одинаками:", single_parents_count)

Кількість студентів з одруженими батьками: 16844
Кількість студентів з батьками-одинаками: 7097

In [9]:
math_sport_mean = df[df['PracticeSport'] == 'regularly']['MathScore'].mean()

math_no_sport_mean = df[df['PracticeSport'] == 'never']['MathScore'].mean()

reading_sport_mean = df[df['PracticeSport'] == 'regularly']['ReadingScore'].mean()

reading_no_sport_mean = df[df['PracticeSport'] == 'never']['ReadingScore'].mean()

print("Середній бал з математики для студентів, які регулярно займаються спортом:", math_sport_mean)
print("Середній бал з математики для студентів, які ніколи не займалися спортом:", math_no_sport_mean)
print("Середній бал з читання для студентів, які регулярно займаються спортом:", reading_sport_mean)
print("Середній бал з читання для студентів, які ніколи не займалися спортом:", reading_no_sport_mean)

Середній бал з математики для студентів, які регулярно займаються спортом: 67.83915500787548
Середній бал з математики для студентів, які ніколи не займалися спортом: 64.17107892107892
Середній бал з читання для студентів, які регулярно займаються спортом: 69.94301862318169
Середній бал з читання для студентів, які ніколи не займалися спортом: 68.33766233766234

In [10]:
school_bus_count = df[df['TransportMeans'] == 'school_bus']['TransportMeans'].count()

private_transport_count = df[df['TransportMeans'] == 'private']['TransportMeans'].count()

print("Кількість учнів, які користуються шкільним автобусом:", school_bus_count)
print("Кількість учнів, які користуються приватним транспортом:", private_transport_count)

Кількість учнів, які користуються шкільним автобусом: 16145
Кількість учнів, які користуються приватним транспортом: 11362

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [15]:
df = pd.DataFrame(data)

df.dropna(inplace=True)

X = df[['Gender', 'EthnicGroup', 'ParentEduc', 'LunchType', 'ParentMaritalStatus', 'PracticeSport', 'IsFirstChild', 'NrSiblings', 'TransportMeans', 'WklyStudyHours', 'MathScore', 'ReadingScore', 'WritingScore']]
y = df['TestPrep']

X = pd.get_dummies(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LogisticRegression(max_iter=1000)

model.fit(X_train, y_train)

predictions = model.predict(X_test)

accuracy = accuracy_score(y_test, predictions)
print("Точність моделі:", accuracy)

Точність моделі: 0.7482462977396727